@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Role Manager</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Claims</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <th>
                    @role.Name
                </th>
                <td>
                    @foreach (var claim in role.Claims.EmptyListIfEmpty())
                    {
                        <span>@claim</span>
                    }
                </td>
                <td>
                    <button>test</button>
                </td>
            </tr>

        }
    </tbody>
</table>