@model IEnumerable<ClaimViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Claims Viewer</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Owner Identity</th>
            <th scope="col">Owner IP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ClaimViewModel claim in Model)
        {
            <tr>
                <th>
                    @claim.Key
                </th>
                <th>
                    @claim.Value
                </th>
                <td>
                    @claim.OwnerIdentity
                </td>
                <td>
                    @claim.OwnerIp
                </td>
            </tr>
        }
    </tbody>
</table>

